@use "./index" as *;
@use "./header";
@use "./main";
@use "./footer";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
}
body {
  @include min(100%, 100vh);
  @include max(100vw, auto);
  background-image: url(https://images.pexels.com/photos/1367192/pexels-photo-1367192.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
header {
  @include min(100%, 15vh);
  @include max(100%, auto);
  @include display(center, center);
}
main {
  @include min(100%, 70vh);
  @include max(100%, auto);
  @include display(center, center);
}

footer {
  @include min(100%, 15vh);
  @include max(100%, auto);
  @include display(center, center);
}

#background-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

.display {
  display: none;
}
.material-symbols-outlined {
  cursor: pointer;
  font-size: 2.5rem !important;
}
